.mf-home {

  &__leadtext {
    padding-top: 15%;
    padding-bottom: 8vw;
    color: $secondary;

    strong {
      color: $primary;
    }
  }

  &__hero {
    user-select: none;
    width: 60%;
    margin: 0 auto;
    padding: 50px 0 100px;
    h1 {
      text-align: center;
      @extend %font-size-600;
    }
  }

  &__featured-projects {
    text-align: center;
    margin-bottom: 70vh;
    user-select: none;

    @media (max-width: 1200px) {
      .image-wrap, .blur-overlay {
        display: none;
      }
    }

    .image-wrap {
      width: 60%;
      height: 35vw;
      position: fixed;
      top: 0;
      left: 0;
      overflow: hidden;
      pointer-events: none;
      visibility: hidden;
      padding-bottom: 25vw;
      transform: translate(40%, 70%);

      &-img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    &.item-hovered {
      .mf-home__featured-projects__item:not(.active) {
        .title a {
          color: #4e5756;
        }
      }
      .image-wrap {
        visibility: visible;
        z-index: 1;
      }
    }

    &__item {
      position: relative;

      > .project {
        display: inline-block;
      }

      .category {
        display: flex;
        position: absolute;
        bottom: 11px;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        justify-content: center;
        pointer-events: none;
        font-weight: 400;

        svg {
          margin-top: 4px;
          width: 12px;
          margin-right: 5px;
        }
      }

      a {
        display: inline-block;
        padding: 30px 0;
        color: $primary;

        .title {
          @extend %font-size-900;
          display: inline-block;
          margin: 0;
        }
      }

      .image-preview {
        position: absolute;
        top: 58%;
        right: 50%;
        transform: translate(50%, 0);
        opacity: 0;
        pointer-events: none;
        width: 60%;
        height: 35vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;
        transition: opacity 0.1s ease-in;
      }

      &.active {
        z-index: 2;
        ~ .blur-overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          backdrop-filter: blur(4px);
        }
        ~ .mf-home__featured-projects__item {
          z-index: 0;
        }
        // .image-preview {
        //   opacity: 1;
        // }
        .category {
          color: $white;
          svg {
            path {
              fill: $white;
            }
          }
        }
        a {
          color: $white;
        }
      }

    }

  }

}