/* Typography */
$font-family-averta: 'averta-bold', Roboto, sans-serif;
$base-font-family: $font-family-averta;
$headings-font-family: $font-family-averta;

/* Colors */
$black: #000;
$white: #fff;
$gold: #C8C1B6;
$red: #FD2F46;

$primary: #D5CDC4;
$secondary: #232025;