/* Typography */
$font-family-averta: 'averta-bold', Roboto, sans-serif;
$base-font-family: $font-family-averta;
$headings-font-family: $font-family-averta;

/* Colors */
$black: #000;
$white: #fff;
$gold: #C8C1B6;

$primary: #0A0A0A;
$secondary: $gold;